/* Fichier: style_base.css */

:root {
   --color-primary: #121d3f;      
   --color-primary-hover: #121d3f;  
   --color-success: #7EBB43;       
   --color-danger: #FF4D83;      
   --color-bg-light: #f8f9fa;      
   --color-bg-white: #ffffff;     
   --color-text-dark: #333333;     
   --color-text-light: #777777;    
   --color-text-yellow: #FFB714; 
}

/* Application des couleurs définies */
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg-light);
}

.color-red {
  color: var(--color-danger);
}

.color-yellow{
  color: var(--color-text-yellow);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text-dark);
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--color-bg-white);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: 500;
  color: var(--color-text-dark);
}

.error {
  color: var(--color-danger);
  font-size: 0.875rem;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-bg-white);
  font-weight: 600;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--color-primary-hover);
}

#message {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.125rem;
}

.text-danger {
  color: var(--color-danger);
}

.text-success {
  color: var(--color-success);
}

.btn-primary {
   background-color: var(--color-primary) !important;
}