:root {
  --color-white: #fff;
  --color-primary: #121d3f;      
	--color-warning: #FFB714;  
	--color-success: #7EBB43;       
	--color-danger: #FF4D83; 
  --color-gray: #f2f4f6; 
  --color-gray-2: #e2e3e4;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-warning {
  background-color: var(--color-warning) !important;
}
.bg-success {
  background-color: var(--color-success) !important;
}
.bg-danger {
  background-color: var(--color-danger) !important;
}
.btn-primary {
  border-color: var(--color-white) !important;
}
#myMenu_nav {
  background-color: var(--color-gray);
}
.dropdown-toggle {
  color: var(--color-white) !important;
}
.text-decoration-none {
  text-decoration: none !important;
  color: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.myApp-topnav {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}

.myApp-nav-fixed #mySidebar #myMenu_nav, .myApp-nav-fixed .myApp-topnav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


html,
body {
  height: 100%;
}

#mySidebar {
  display: flex;
}
#mySidebar #myMenu_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-225px);
}
#mySidebar #myContenu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
}

.myApp-sidenav-toggled #mySidebar #myMenu_nav {
  transform: translateX(0);
}
.myApp-sidenav-toggled #mySidebar #myContenu:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #mySidebar #myMenu_nav {
    transform: translateX(0);
  }
  #mySidebar #myContenu {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
  .myApp-sidenav-toggled #mySidebar #myMenu_nav {
    transform: translateX(-225px);
  }
  .myApp-sidenav-toggled #mySidebar #myContenu {
    margin-left: -225px;
  }
  .myApp-sidenav-toggled #mySidebar #myContenu:before {
    display: none;
  }
}


.nav .nav-link .myApp-nav-link-icon,
.myApp-sidenav-menu .nav-link .myApp-nav-link-icon {
  margin-right: 0.5rem;
}

.myApp-topnav {
  padding-left: 0;
  height: 56px;
  z-index: 1039;
}
.myApp-topnav .navbar-brand {
  width: 225px;
  margin: 0;
  color: white !important;
}

#sidebarToggle {
  color: rgb(255, 255, 255);
}

.myApp-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}
.myApp-sidenav .myApp-sidenav-menu {
  flex-grow: 1;
}
.myApp-sidenav .myApp-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}
.myApp-sidenav .myApp-sidenav-menu .nav .myApp-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.myApp-sidenav .myApp-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}
.myApp-sidenav .myApp-sidenav-menu .nav .nav-link .myApp-nav-link-icon {
  font-size: 0.9rem;
}
.myApp-sidenav .myApp-sidenav-menu .nav .nav-link .myApp-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}
.myApp-sidenav .myApp-sidenav-menu .nav .nav-link.collapsed .myApp-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}
.myApp-sidenav .myApp-sidenav-menu .nav .myApp-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}
.myApp-sidenav .myApp-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.myApp-sidenav-menu .myApp-sidenav-menu-heading {
  color: #adb5bd;
}
.myApp-sidenav-menu .nav-link {
  color: var(--color-primary);
}
.myApp-sidenav-menu .nav-link .myApp-nav-link-icon {
  color: #adb5bd;
}
.myApp-sidenav-menu .nav-link .myApp-sidenav-collapse-arrow {
  color: #adb5bd;
}
.myApp-sidenav-menu .nav-link:hover {
  color: var(--color-primary) !important;
}
.myApp-sidenav-menu .nav-link.active {
  color: var(--color-primary) !important;
}
.myApp-sidenav-menu .nav-link.active .myApp-nav-link-icon {
  color: var(--color-primary) !important;
}
.myApp-sidenav-footer {
  background-color: var(--color-gray-2);
}